<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/auth/signup">Sign up!</a>
<a href="/auth/login">Log in!</a>

<h3>See those amazing stuff</h3>

<a href="/main">see the link</a>
<a href="/private">see the link</a>